In [ ]:
print("Vishal Parmar")

Vishal Parmar

In [ ]:
var1 = 61
var2 = 6.1
var3 = "Vishal"
var4 = True

print(var1)
print(var2)
print(var3)
print(var4)

61
6.1
Vishal
True

In [ ]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
var5 = var1 / 4
var6 = var1 * var2

print(var5)
print(var6)

15.25
372.09999999999997

In [ ]:
x = int(input("Enter The Value Of x: "))

y = int(input("Enter The Value Of y: "))

z = x * y

print(x)
print(y)
print(z)

5
7
35

In [ ]:
x = float(input("Enter The Value Of x: "))

y = float(input("Enter The Value Of y: "))

z = x + y

print(x)
print(y)
print(z)

2.0
2.5
4.5

In [ ]:
x = str(input("Enter The Value Of x: "))

y = str(input("Enter The Value Of y: "))

z = x + y

print(x)
print(y)
print(z)

Hello
World
Hello World

## String Concatination

In [ ]:
str1 = "Hello "
print(str1)
print(type(str1))

str2 = "World"
print(str2)
print(type(str2))

str3 = str1 + str2
print(str3)
print(type(str3))

str4 = str1 * 2
print(str4)
print(type(str4))

Hello
<class 'str'>
World
<class 'str'>
Hello World
<class 'str'>
Hello Hello
<class 'str'>

## String Indexing and Slicing

In [ ]:
name = "ITM Universe"
print(name)
print(len(name))

ITM Universe
12

In [ ]:
name[7]

'v'

In [ ]:
name[3:9]

' Unive'

In [ ]:
name[5:]

'niverse'

In [ ]:
name[:6]

'ITM Un'

In [ ]:
name[-8:-2]

'Univer'

In [ ]:
name[0::2]

'IMUies'

In [ ]:
name[::-1]

'esrevinU MTI'

## Tuple

In [ ]:
tup1 = ("ITM", 61, "Rohit", 45, "Vadodara", 31)
print(tup1)
print(type(tup1))

('ITM', 61, 'Rohit', 45, 'Vadodara', 31)
<class 'tuple'>

In [ ]:
tup1[3]

45

In [ ]:
tup1[2:6]

('Rohit', 45, 'Vadodara', 31)

In [ ]:
tup2 = ("Python", 7)

tup3 = tup1 + tup2
print(tup3)

('ITM', 61, 'Rohit', 45, 'Vadodara', 31, 'Python', 7)

In [ ]:
tup1[0][2:]

'M'

## List

In [ ]:
lst1 = ["Apple", 5, "Mango", 70, "Cherry"]
print(lst1)
print(type(lst1))

['Apple', 5, 'Mango', 70, 'Cherry']
<class 'list'>

In [ ]:
lst1[2]

'Mango'

In [ ]:
lst1[3:]

[70, 'Cherry']

In [ ]:
lst1[::-1]

['Cherry', 70, 'Mango', 5, 'Apple']

In [ ]:
lst2 = [31, "Banana"]
lst3 = lst1 + lst2
print(lst3)

['Apple', 5, 'Mango', 70, 'Cherry', 31, 'Banana']

In [ ]:
lst1.remove('Apple')
print(lst1)

[5, 'Mango', 70, 'Cherry']

In [ ]:
lst1.pop(2)
print(lst1)

[5, 'Mango', 'Cherry']

## Set

In [ ]:
set1 = {'Apple', 'Cherry', 'Banana'}
print(set1)
print(type(set1))

{'Banana', 'Cherry', 'Apple'}
<class 'set'>

In [ ]:
print(len(set1))

3

In [ ]:
set1.pop()
print(set1)

{'Cherry', 'Apple'}

In [ ]:
set1.add('Mango')
print(set1)

{'Mango', 'Cherry', 'Apple'}

## Dictionary

In [ ]:
dict1 = {"University" : "ITM", "Branch" : "CSE", "Div" : "A"}
print(dict1)
print(type(dict1))

{'University': 'ITM', 'Branch': 'CSE', 'Div': 'A'}
<class 'dict'>

In [ ]:
print(dict1.keys())

dict_keys(['University', 'Branch', 'Div'])

In [ ]:
print(dict1.values())

dict_values(['ITM', 'CSE', 'A'])

In [ ]:
print(len(dict1))

3

In [ ]:
dict2 = {}
dict2['Enrolment'] = 61
print(dict2)

{'Enrolment': 61}

## Math Library

In [ ]:
from math import pi
pi

3.141592653589793

## Finding Area of Circle

In [ ]:
r = int(input("Enter The Value Of r: "))
area = pi*r*r

print("Value of r is:", r)
print("Area of the Circle is:", area)

Value of r is: 5
Area of the Circle is: 78.53981633974483

## For Loop

In [ ]:
for i in range (0,20,3):
    print(i)

0
3
6
9
12
15
18

## Conditional Statemnet

In [ ]:
# simple if

num = 7
if num>0:
    print(num, "is a positive number")
print("This statement is True")

7 is a positive number
This statement is True

In [ ]:
# if-else

num = 7
if num>0:
    print(num, "is a positive number")
else:
    print(num, "is a negative number")

7 is a positive number

In [ ]:
# nested if

num = 7
if num>=0:
    if num==0:
        print("Zero")
    else:
        print(num, "is a positive number")
else:
    print(num, "is a negative number")

7 is a positive number

In [ ]:
a=b=c=1

2062097318128

In [ ]:
id(a)

2062097318128

In [ ]:
id(b)

2062097318128

# Assignment

## 1. Fahrenheit to Celsius

In [161]:
f=float(input("Enter the Temperature in Fahrenhit: "))
print("Temperature in Fahrenhit is:", f)

c = float(((f-32)*5)/9)
print("Temperature in Celsius is:", c)

Temperature in Fahrenhit is: 61.0
Temperature in Celsius is: 16.11111111111111

## 2. Exchange the value of two variables

In [ ]:
n1 = int(input("Enter number 1: "))
print("First Number is:", n1)

n2 = int(input("Enter number 2: "))
print("Second Number is:", n2)

print("Values after swaping")

n3 = n1
n1 = n2
n2 = n3

print("First Number is:", n1)
print("Second Number is:", n2)

First Number is: 5
Second Number is: 7
Values after swaping
First Number is: 7
Second Number is: 5

## 3. Find the Distance between two points

In [162]:
X1 = int(input("Enter first cordinate of x: "))
X2 = int(input("Enter second cordinate of x: "))

Y1 = int(input("Enter first cordinate of y: "))
Y2 = int(input("Enter second cordinate of y: "))

print("Cordinate of X is (",X1,",",X2,")")
print("Cordinate of Y is (",Y1,",",Y2,")")

result = ((((X2 - X1)**2)+((Y2 - Y1)**2))**0.5)
print("Distance between X and Y =", result)

Cordinate of X is ( 1 , 3 )
Cordinate of Y is ( 2 , 4 )
Distance between X and Y = 2.8284271247461903

## 4. Operations on Tuple

In [1]:
tup1 = ('a', 'b', 'c', 'd', 'e')
tup2 = (1, 2, 3, 4, 5)

In [2]:
# maxima
print(max(tup1))
print(max(tup2))

e
5

In [3]:
# minima
print(min(tup1))
print(min(tup2))

a
1

In [4]:
# concatination
tup3 = tup1 + tup2
print(tup3)

('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5)

In [6]:
# duplicate a tuple
tup4 = tuple(tup2)
print(tup4)

(1, 2, 3, 4, 5)

In [8]:
# slicing operator
print(tup3[2:8])
print(tup3[-5:-1])

('c', 'd', 'e', 1, 2, 3)
(1, 2, 3, 4)

In [9]:
# obtaining a list from tuple
lst = list(tup4)
print(lst)

[1, 2, 3, 4, 5]

In [16]:
# compare two tuple
print(tup4 == tup2)
print(tup4 > tup2)
print(tup4 < tup2)

True
False
False

In [17]:
# printing two tuples of different data types
print(tup1)
print(tup2)

('a', 'b', 'c', 'd', 'e')
(1, 2, 3, 4, 5)

## 5. Find Square root of two numbers

In [59]:
# using operator
num = eval(input("Enter the Number: "))
print("Input number is:",num)

result = (num)**0.5

if type(num) == float:
    print("You entered Float Number instead of Integer Number")
elif type(num) == int:
    print("Square root of",num,"is",result)

Input number is: 4
Square root of 4 is 2.0

In [61]:
# using math library
import math

num = eval(input("Enter the Number: "))
print("Input number is:",num)

if type(num) == float:
    print("You entered Float Number instead of Integer Number")
elif type(num) == int:
    print("Square root of",num,"is",math.sqrt(num))

Input number is: 4
Square root of 4 is 2.0

## 6. Find Factorial of given number

In [136]:
# using function
num = eval(input("Enter the Number: "))
print("Input number is:",num)

if type(num) == float:
    print("You entered Float Number instead of Integer Number")
elif type(num) == int:
    def factorial(num):
        if num < 0:
            print("Factorial doesn't exist for Negative number")
        elif num == 0 | num == 1:
            return 1
        else:
            return num * factorial (num - 1)
    print("Factorial of",num,"is:",factorial(num))

Input number is: 5
Factorial of 5 is: 120

In [56]:
# using math library
import math

def factorial(num):
	return(math.factorial(num))

num = eval(input("Enter the Number: "))
print("Input number is:",num)

if type(num) == float:
    print("You entered Float Number instead of Integer Number")
elif type(num) == int:
    print("Factorial of",num,"is:",factorial(num))

Input number is: 5
Factorial of 5 is: 120

## 7. Find sum of digits of a number

In [67]:
def nsum(n):
    if n == 0:
        return 0
    else:
        sum = 0
        for i in str(n):
            sum += int(i)
        return sum

n = input("Enter a Number:")
print("Input Number is:",n)
print("Sum of all the digits of",n,"is",nsum(n))

Input Number is: 123
Sum of all the digits of 123 is 6

## 8. Reverse the given number

In [69]:
# using string slicing
n = input("Enter a Number:")
print("Input Number is:",n)

result = n[::-1]
print("Reverse of",n,"is",result)

Input Number is: 123
Reverse of 123 is 321

In [97]:
# using while loop
n = input("Enter an Input:")
print("Your Input is:",n)

if n.isalpha() == True:
    print("Please enter the number instead of alphabet")
elif n.isdigit() == True:
    n = int(n)
    num = 0

    while n != 0:
        x = n % 10
        num = num*10 + x
        n //= 10
    print("Reverse of Input is:",num)
else:
    print("Invalid Input")

Input is: 1234
Reverse of Input is: 4321

## 9. Check the given number is palindrome or not

In [106]:
# using function
def palindrome(n):
    return n == n[::-1]

n = input("Enter an Input: ")
print("Your Input is:",n)

result = palindrome(n)
if result:
    print("Given input is palindrome")
else:
    print("Given input is not palindrome")

Input is: 1221
Given input is palindrome

In [114]:
# using for loop
n = input("Enter an Input: ")
print("Your Input is:",n)
num = ""

for i in n:
    num = i + num

if n == num:
    print("Given input is palindrome")
else:
    print("Given input is not palindrome")

Input is: 1221
Given input is palindrome

## 10. Print fibonacci series

In [131]:
# using for loop
n = int(input("Enter an Input:"))
print("Your Input is:",n)

n1 = 0
n2 = 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, n):
	n3 = n1 + n2
	n1 = n2
	n2 = n3
	print(n3, end=" ")

Your Input is: 5
Fibonacci Series: 0 1 1 2 3

In [130]:
# using function
def fibonacciSeries(n):
    if n <= 1 :
        return n
    else:
        return (fibonacciSeries(n - 1) + fibonacciSeries(n - 2))

n = int(input("Enter an Input:"))
print("Your Input is:",n)

if n < 0:
    print("Please enter a Positive Number")
elif n == 0:
    print("Fibonacci Series: 0")
else:
    print("Fibonacci Series:", end=" ")
for i in range(n):
    print(fibonacciSeries(i), end=" ")

Your Input is: 5
Fibonacci Series: 0 1 1 2 3

## 11. Print prime numbers in range

In [138]:
lower = int(input("Enter the lower value: "))
print("Lower value is:",lower)
upper = int(input("Enter the upper value: "))
print("Upper value is:",upper)

print("Prime numbers between",lower,"and",upper,"are:")

for i in range(lower, upper + 1):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(i)

Lower value is: 0
Upper value is: 10
Prime numbers between 0 and 10 are:
2
3
5
7

## 12. Find greatest of three numbers

In [140]:
# using max() function
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))
n3 = float(input("Enter third number: "))

print("Greatest number from","(",n1,",",n2,",",n3,") is",max(n1,n2,n3))

Greatest number from ( 5.0 , 6.0 , 7.0 ) is 7.0

In [155]:
# using function
def greatest(n1,n2,n3):
    if (n1 >= n2) & (n1 >= n3) :
        max = n1
    elif (n2 >= n1) & (n2 >= n3) :
        max = n2
    else:
        max = n3

    return max

n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))
n3 = float(input("Enter third number: "))

print("Greatest number from","(",n1,",",n2,",",n3,") is",greatest(n1,n2,n3))

Greatest number from ( 5.0 , 6.0 , 7.0 ) is 7.0

## 13. Create a calculator

In [158]:
def add(x,y):
    return x+y
    
def subtract(x,y):
    return x-y

def multiply(x,y):
    return x*y

def divide(x,y):
    return x/y

print("Select Operation:")
print("1. Add")
print("2. Subtract")
print("3. Mutiply")
print("4. Divide")

choice = int(input("Enter choice (1/2/3/4): "))

n1 = int(input("Enter a first number: "))
n2 = int(input("Enter a second number: "))

print("First number is:", n1)
print("Second number is:", n2)

if choice==1:
    print("Addition of", n1, "and", n2, "is", add(n1, n2))
elif choice==2:
    print("Subtraction of", n1, "and", n2, "is", subtract(n1, n2))
elif choice==3:
    print("Multiplication of", n1, "and", n2, "is", multiply(n1, n2))
elif choice==4:
    print("Division of", n1, "and", n2, "is", divide(n1, n2))
else:
    print("Invalid Choice")

Select Operation:
1. Add
2. Subtract
3. Mutiply
4. Divide
First number is: 7
Second number is: 5
Multiplication of 7 and 5 is 35